<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.xml</string>
				<string>io.toml</string>
				<string>com.apple.mobileconfig</string>
				<string>com.apple.property-list</string>
			</array>
			<key>QLFileExtensions</key>
			<array>
				<string>json</string>
				<string>yaml</string>
				<string>yml</string>
				<string>toml</string>
				<string>xml</string>
				<string>mobileconfig</string>
				<string>plist</string>
			</array>
			<key>QLPreviewWidth</key>
			<real>1024</real>
			<key>QLPreviewHeight</key>
			<real>768</real>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
